<div class="row">
  <h2>You must address any configuration errors highlighted below for application
  to work.
  </h2>
</div>
<div class="row" *ngIf="!env.cognitoIdentityPoolId">
  <div class="col-lg-12">
    <h2>Identity Pool!</h2>
    <p class="text-danger">
      Cognito Identity Pool not properly configured.
    </p>
    <p>In order for your application to communicate with your cognito
      identity pool we need to provide the appropriate cognitoIdentityPoolId
      to the UI.
    </p>
    <p>
      <a class="btn btn-primary" href="#" role="button">
        Go to instructions in README &raquo;
      </a>
    </p>
  </div>
</div>
<div class="row" *ngIf="!env.facebookAppId">
  <div class="col-lg-12">
    <h2>Facebook App Id!</h2>
    <p class="text-danger">
      No Facebook App Id configured.
    </p>
    <p>In order for your application to establish trust between a
      federated identity provider we need to provide the appropriate facebook
      app id to Cognito. That requires 2 steps: 1 add Facebook App Id to environment.ts
      and 2) add the Facebook App Id to your Cognito Identity Pool.
    </p>
    <p>
      <a class="btn btn-primary" href="#" role="button">
      Go to instructions in README &raquo;
      </a>
    </p>
  </div>
</div>
<div class="row" *ngIf="!env.ticketAPI">
  <div class="col-lg-12">
    <h2>Ticket API URL!</h2>
    <p class="text-danger">
      No API URL configured.
    </p>
    <p>
      We need to specify a backend api url in order for this static single
      page web application to communicate with the ticket service api.
    </p>
    <p>
      <a class="btn btn-primary" href="#" role="button">
        Go to instructions in README &raquo;
      </a>
    </p>
  </div>
</div>
<div class="row" *ngIf="this.invalidAPIURL">
  <div class="col-lg-12">
    <h2>Invalid Ticket API URL!</h2>
    <p class="text-danger">
      API URL needs a trailing "/".
    </p>
    <p>
      Please check your environment.ts file and make sure the API URL has a trailing forward slash. E.g.
      https://2xxxxyyyyzz.execute-api.us-east-1.amazonaws.com/prod/
    </p>
  </div>
</div>
