<div class="awsui backgr">

  <header class="awsui-util-clearfix">
    <ul class="navigation">
      <li class="awsui-util-f-l">
        <a href="/" class="home-link">SXR ({{region}})</a><span>&nbsp;<button class="awsui awsui-button" (click)="callHealth()">Refresh Region Location</button></span>
      </li>
      <a  class="awsui-util-f-r" (click)="onLoggedout()" *ngIf="cognitoService.currentEmailID">
        <i class="fa fa-fw fa-power-off"></i> Log Out
      </a>
      <li class="awsui-util-f-r">
        <span style="color: white">{{cognitoService.currentEmailID}}</span>
      </li>
    </ul>
  </header>

  <main class="awsui-grid">

    <div class="awsui-layout-left-nav">

      <nav id="n" class="side-nav">

        <div class="awsui-row">
          <div class="c-s-3 c-m-12">
            <h4>Main</h4>
            <ul class="awsui-list awsui-list-unstyled" style="margin-top: 0;">
              <li><a routerLink="/home" [routerLinkActive]="['router-link-active']">Home</a></li>
            </ul>
          </div>
          <div class="c-s-3 c-m-12">
            <ul class="awsui-list awsui-list-unstyled" style="margin-top: 0;">
              <li><a routerLink="/ticket" [routerLinkActive]="['router-link-active']">Ticket</a></li>
            </ul>
          </div>
        </div>

      </nav>
      <section id="content">

        <router-outlet></router-outlet>

      </section>
    </div>
  </main>
</div>
