<div class="container">
  <div class="row" style="margin-top: 50px"></div>
  <div class="row"><!-- login user -->
    <div class="Absolute-Center is-Responsive">
    <div class="card">

      <div class="card-header">
        Login
      </div>
      <div class="card-block">
        <a class="btn btn-small btn-social btn-facebook" (click)="loginWithFacebook()">
          <i class="fa fa-facebook fa-fw"></i> Sign in with Facebook
        </a>
      </div>
    </div>
    </div>
  </div>
  <ngx-toasta
    [position]="'bottom-fullwidth'"></ngx-toasta>
</div>
