.toc
  %strong Contents
  %ul
    %li
      %a{href: "index.html"} Welcome
    %li
      %a{href: "setup.html"} Setup
    %li
      %a{href: "index.html#modules"} Modules
      %ol
        %li
          %a{href: "streaming-data.html"} Real-time Data Streaming
        %li
          %a{href: "streaming-aggregation.html"} Stream Aggregation
        %li
          %a{href: "stream-processing.html"} Stream Processing
        %li
          %a{href: "data-lake.html"} Data Lake
    %li
      %a{href: "extra-credit.html"} Extra Credit
    %li
      %a{href: "cleanup.html"} Clean Up
